# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore all environment files.
/.env*
!/.env.example
!/.env.local.example

# Ignore assets.
/node_modules/

# Ignore Output Directory
/.output/

# Ignore editor directory
/.idea/
/.vs_code/