/* table */

.table-rounded {
  border: 1px solid lavender;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
}
.table-rounded tr td {
  border: none;
  border-bottom: 1px solid lavender;
  border-right: 1px solid lavender;
}
.table-rounded tr td:first-child {
  border-left: none;
}
.table-rounded tr td:last-child {
  border-right: none;
}
.table-rounded tr:first-child td {
  border-top: none;
}
.table-rounded tr:last-child td {
  border-bottom: none;
}
