@use "glightbox/dist/css/glightbox.css";
@use "photoswipe/dist/photoswipe.css";
//@use "v-calendar/dist/style.css";
//@use "quill/dist/quill.core.css";
//@use "quill/dist/quill.bubble.css";

body {
  background-color: aliceblue;
  height: auto;
}

// table

.table_rounded {
  border: 1px solid lavender;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
}
.table_rounded tr td {
  border: none;
  border-bottom: 1px solid lavender;
  border-right: 1px solid lavender;
}
.table_rounded tr td:first-child {
  border-left: none;
}
.table_rounded tr td:last-child {
  border-right: none;
}
.table_rounded tr:first-child td {
  border-top: none;
}
.table_rounded tr:last-child td {
  border-bottom: none;
}

// v-date-picker
.vc-header .vc-arrow {
  background-color: white;
}
.vc-header .vc-title {
  background-color: white;
}
.vc-nav-header .vc-nav-arrow {
  background-color: #f8fafc;
}
.vc-nav-header .vc-nav-title {
  background-color: #f8fafc;
}
.vc-nav-item {
  background-color: #f8fafc;
}

// vue-awesome-paginate
.pagination-container {
  column-gap: 10px;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
}
.active-page:hover {
  background-color: #2988c8;
}
.back-button:active,
.next-button:active {
  background-color: #c4c4c4;
}

/* .white-space-pre {
  white-space: pre;
 } */
@media (min-width: 567px) {
  .abs-center-x {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
