@use "bootstrap/scss/bootstrap.scss";
@use "glightbox/dist/css/glightbox.css";
@use "photoswipe/dist/photoswipe.css";
//@use "v-calendar/dist/style.css";
//@import "quill/dist/quill.core.css";
//@import "quill/dist/quill.bubble.css";

body {
  background-color: aliceblue;
  padding-top: 50px;
  height: auto;
}
.c-bgcolor {
  background-color: white;
}
.label-bg-style {
  background-color: lavender;
  -moz-border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  border-radius: 5px;   /* Firefox用 */
}

.kadomaru-5 {
  -moz-border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  border-radius: 5px;   /* Firefox用 */
}

.kadomaru {
  -moz-border-radius: 20px;        /* CSS3草案 */
  -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */
  border-radius: 20px;   /* Firefox用 */
}

.bottom-5 {
  padding-bottom: 5px;
}

.bottom-10 {
  padding-bottom: 10px;
}

.top-5 {
  padding-top: 5px;
}

.top-10 {
  padding-top: 10px;
}

.left-5 {
  padding-left: 10px;
}

.left-10 {
  padding-left: 10px;
}

.right-10 {
  padding-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

// bootstrap
%offcanvas-css-vars {
  --bs-offcanvas-width: 300px;
}

.table_rounded {
  border: 1px solid lavender;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
}
.table_rounded tr td {
  border: none;
  border-bottom: 1px solid lavender;
  border-right: 1px solid lavender;
}
.table_rounded tr td:first-child {
  border-left: none;
}
.table_rounded tr td:last-child {
  border-right: none;
}
.table_rounded tr:first-child td {
  border-top: none;
}
.table_rounded tr:last-child td {
  border-bottom: none;
}

// v-date-picker
.vc-header .vc-arrow {
  background-color: white;
}
.vc-header .vc-title {
  background-color: white;
}
.vc-nav-header .vc-nav-arrow {
  background-color: #f8fafc;
}
.vc-nav-header .vc-nav-title {
  background-color: #f8fafc;
}
.vc-nav-item {
  background-color: #f8fafc;
}

/* .white-space-pre {
  white-space: pre;
 } */
@media (min-width: 567px) {
  .abs-center-x {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
