@import "bootstrap/scss/bootstrap.scss";
@import "luminous-lightbox/dist/luminous-basic";
@import "spotlight.js/dist/css/spotlight.min";
@import "@yaireo/tagify/dist/tagify";

body {
  background-color: aliceblue;
  padding-top: 50px;
}
.c-bgcolor {
  background-color: white;
}
.label-bg-style {
  background-color: lavender;
  border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 5px;   /* Firefox用 */
}
.kadomaru {
  border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 5px;   /* Firefox用 */
}

.table_rounded {
  border: 1px solid lavender;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
}
.table_rounded tr td {
  border: none;
  border-bottom: 1px solid lavender;
  border-right: 1px solid lavender;
}
.table_rounded tr td:first-child {
  border-left: none;
}
.table_rounded tr td:last-child {
  border-right: none;
}
.table_rounded tr:first-child td {
  border-top: none;
}
.table_rounded tr:last-child td {
  border-bottom: none;
}

/* .white-space-pre {
  white-space: pre;
 } */
@media (min-width: 567px) {
  .abs-center-x {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.lum-lightbox{
  z-index: 9999;
}
.lum-lightbox-position-helper{
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain;', sans-serif;
  }
}