/* vue-awesome-paginate */
.pagination-container {
  column-gap: 10px;
}
.paginate-buttons {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgb(217, 217, 217);
  color: black;
}
.paginate-buttons:hover {
  background-color: lightcyan;
  color: white;
}
.active-page {
  background-color: white;
  border: 1px solid lightblue;
  color: lightblue;
}
.active-page:hover {
  background-color: lightcyan;
  color: white;
}
.back-button:active,
.next-button:active {
  background-color: lightcyan;
}
